@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: Vazir-Light;
  src: url(./Font/Vazirmatn-Light.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url(Font/Vazirmatn-Regular.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Vazir-SemiBold;
  src: url(Font/Vazirmatn-SemiBold.woff2) format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Vazir-Bold;
  src: url(Font/Vazirmatn-Bold.woff2) format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Vazir-ExtraBold;
  src: url(Font/Vazirmatn-ExtraBold.woff2) format('woff2');
  font-weight: bold;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  direction: rtl;
  font-family: 'Vazir';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1{
  padding: 0;
  margin: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul , li, a
{
  list-style: none;
  text-decoration: none;
}

.show
{
    border: 1px solid red;
}


